[Unit]
Description=fuHTTPd http server
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
ExecStart=/bin/bash -c '/usr/bin/python3 -u /usr/local/bin/fuhttpd.py /var/www/intra90/'
Restart=always
User=www-data
#User=root

[Install]
WantedBy=default.target
RequiredBy=network.target